## Import Libraries

In [14]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

## Url of the Website

In [15]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'

## Sending a Get request and parsing the output in html format

In [16]:
page=requests.get(url)
soup=BeautifulSoup(page.text,'html')

## checking response of website

In [17]:
page

## locating the table

In [18]:
table=soup.find_all('table')[1]

## Extracting headers from Table

In [19]:
world_titles=table.find_all('th')

## Using list comprehnsion to get required data

In [20]:
world_table_titles=[title.text.strip() for title in world_titles]

In [21]:
world_table_titles

['Rank',
 'Name',
 'Industry',
 'Revenue (USD millions)',
 'Revenue growth',
 'Employees',
 'Headquarters']

In [22]:
df=pd.DataFrame(columns=world_table_titles)

In [23]:
df

Empty DataFrame
Columns: [Rank, Name, Industry, Revenue (USD millions), Revenue growth, Employees, Headquarters]
Index: []

## Extracting data from rows of table

In [24]:
column=table.find_all('tr')

In [25]:
for row in column[1:]:
    row_data=row.find_all("td")
    indiviual=[data.text.strip() for data in row_data]
#     print(indivisual)

    length=len(df)
    df.loc[length]=indiviual

## Displaying Dataframe

In [26]:
df

,Rank,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
0,1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
1,2,Amazon,Retail and Cloud Computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
2,3,Exxon Mobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
3,4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
4,5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...,...
95,96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
96,97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
97,98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
98,99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
99,100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

## Saving data to csv

In [28]:
df.to_csv("top_companies.csv",index=False)